body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  background-image: url('./bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 625px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_container {
  background-color: #FFF;
  height: 550px;
  padding: 20px 50px 0px 50px;
  margin: auto;
  box-shadow: 2px 3px 20px #ddd;
  border-radius: 5px;
}

input[type="text"] {
  border: 0;
  border-bottom: 1px solid #ddd;
  width: 100%;
  display: block;
  padding-bottom: 4px;
  color: #000;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

input[type="text"] {
  outline: none;
}

input[type="text"]:focus {
  border-bottom: 1px solid #000;
}

button {
  border: 0;
  padding: 10px 20px;
  margin: 0 25%;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  background-color: #000;
  color: #FFF;
}

button.active {
  outline: none;
}

.info {
  width: 100%;
  font-size: 20px;
}

.info p {
  color: #000;
  border-bottom: solid 2px rgba(255, 255, 255, 0.06);
  font-weight: 400;
}

.info p:last-child{
  border: 0;
}

.info p span {
  color: #000;
  font-weight: 200;
}
